13.125.226.33:8081/repository/npm-hosted/:_authToken = YWRtaW46YWRtaW5AMQ==
registry.npmjs.org/:_password = "password"
registry.npmjs.org/:username = "admin"
#registry = "http://13.125.226.33:8081/repository/npm-hosted/"
_auth=YWRtaW46YWRtaW5AMQ==
allowRepublish=true
